@import "../../variables";
@import "../../mixins";

.blueButton {
  @extend .submitButtons;
  background:$blue;
  border:1px solid $blue;
  cursor:pointer;


  &:hover {
    background:$darkBlue;
    border:1px solid $darkBlue;
    color:white;
    text-decoration: none;
  }
}

.submitButtons {
  color:white;
  font-family: $avenirBlack;
  padding: 7px 14px;
  font-size: 12px;
  @include border-radius($submitButtons);
  width:100%;
  margin-bottom:10px;

  @media screen and (min-width: $mobileView) {
    width:auto;
    margin-bottom:0px;
  }
}
