@import "../../variables";
@import "../../mixins";

.recipeCard {
  background:white;
  @include border-radius(5px);
  @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
  height: 200px;
  overflow:hidden;
  position: relative;

  .title {
    color:white;
    background:$brown;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
  }

  .mainImage {
    height: 200px;
    background-size: cover !important;
    background-position: center center;
  }

  .buttons {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #cecece;
    left: 0px;
    right: 0px;
    padding: 10px;

    .buttonContainer {
      float:left;
      width:33.33333333%;
      color: #8c8c8c;
      text-align:center;
      cursor:pointer;

      &:hover {
        background: #8c8c8c;
        color: white;
        border-radius: 3px;
      }
    }
  }

  // .imageContainer {
  //   height:200px;
  //   position:relative;
  //   overflow:hidden;
  //   background: #e9ebee;
  //
  //   .emptyImage {
  //     background: url('/images/nopicture.png') no-repeat center;
  //     position: absolute;
  //     top: 0px;
  //     bottom: 45px;
  //     left: 0px;
  //     right: 0px;
  //   }
  //
  //   .categoryText {
  //     @include border-radius(20px);
  //     color:white;
  //     background: rgba(0, 0, 0, 0.52);
  //     position: absolute;
  //     top: 15px;
  //     left: 15px;
  //     padding: 5px 15px;
  //   }
  //
  //   .detail {
  //     position: absolute;
  //     bottom: 0px;
  //     width: 100%;
  //     background: rgba(0, 0, 0, 0.52);
  //     color:white;
  //     padding:10px;
  //
  //     .title {
  //       float:left
  //     }
  //     .actions {
  //       float:right;
  //
  //       i {
  //         padding:0px 10px;
  //         cursor:pointer;
  //       }
  //     }
  //   }
  //}
}
