@import "../../variables";
@import "../../mixins";

.loginForm {
  max-width: 650px;
  margin: 30px auto 0 auto;
  @include transition(all 0.5s);
  padding-left:20px;
  padding-right:20px;
}

.pageHeader {
  background:$brown;
  font-family: $avenirBlack;
  color:white;
  padding: 6px 0px;
  font-size: 16px;

  .content {
    padding:0px 15px;
  }
}
