@import "../../variables";
@import "../../mixins";

.mainPage {
  margin-top: -10px;

  .categories {
    float:left;
    width:25%;

    @media screen and (max-width: $mobileView) {
      width:100%;
      float:none;
      padding: 15px;
      position: fixed;
      bottom:0px;
    }

    .content {
      background: white;
      margin: 15px 15px 0px 0px;
      padding: 10px;
      @include border-radius(5px);
      @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));

      @media screen and (max-width: $mobileView) {
        margin-right:0px;
      }
    }
  }

  .emptyRecipeList {
    background: white;
    margin: 15px 15px 0px 0px;
    padding: 10px;
    @include border-radius(5px);
    @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
    width: 100%;
  }

  .recipeList {
    width:75%;
    float:left;
    padding: 0px 20px;

    @media screen and (max-width: $mobileView) {
      float:none;
      width:100%;
      padding-bottom: 160px;
    }

    .AddSpace {
      background: white;
      padding: 10px;
      margin: 40px 0px 0px 0px;
    }

    .row {
      display: flex;
      grid-row-gap: 25px;
      flex-wrap: wrap;

      .view-recipe {
        padding: 15px;
        height: 180px;
        margin-bottom: 15px;
        width: 25%;

        @media screen and (max-width: 990px) {
          width: 33%;
        }

        @media screen and (max-width: $mobileView) {
          width: 50%;
        }
      }

    }




  }
}
