@import "../../variables";
@import "../../mixins";

.profileContainer {
  display: flex;

  @media screen and (max-width: $mobileView) {
    display:block;
  }

  .profilePic {
    width:25%;
    margin-right:15px;
    @include border-radius(5px);
    @include box-shadow(0px 2px 3px #bbb);
    background:white;

    @media screen and (max-width: $mobileView) {
      width:100%;
      padding-top: 20px;
    }

    .image {
      width: 150px;
      height: 150px;
      background-position: center;
      background-size: cover;
      margin: 20px auto;
      border-radius: 50%;

      @media screen and (max-width: $mobileView) {
        margin: 0px auto 20px auto;
      }
    }
  }

  .profileContent {
    width:75%;
    margin-left:15px;
    @include border-radius(5px);
    @include box-shadow(0px 2px 3px #bbb);
    background:white;

    @media screen and (max-width: $mobileView) {
      width:100%;
      margin-left: 0px;
      margin-top: 20px;
    }

    h1 {
      padding: 15px 15px 0px 15px;
    }

    .section {
      padding: 15px;
    }

  }
}
