 @import "../../variables";

 body.home-page {
   background: url(./home-background.jpg);
   background-size: cover;
   background-position: 50% 50%;
 }



 .welcomText {
   font-family:$triplex;
   text-align:center;
   color: white;
   text-decoration: none;
   text-align: center;
   text-shadow: 0px 0px 30px #000000;
   -moz-text-shadow: 0px 0px 30px #000000;
   -webkit-text-shadow: 0px 0px 30px #000000;

   h1 {
     font-size: 65px; line-height: 60px;
   }

   h2 {
     font-size: 25px; line-height: 0px;
   }
 }

.entry-text-container {
	bottom: 0;
	left: 0;
	min-height: 465px;
	position: absolute;
	right: 0;
	top: 90px;

  .entry-text-link-section {
  	position:absolute;
  	top:50%;
  	left:50%;
  	width: 700px;
  	margin-left:-350px;
  	margin-top:-121.5px;

    @media screen and (max-width: $mobileView) {
      width: 350px;
      margin-left:-175px;
    }


  }

  .recipe-description{
  	width:100%;
  	margin-top: 26px;
  	font-size:16px;
  	text-align:center;
    font-family: $avenirMedium;
  	color:white;
  	text-shadow: 0px 0px 30px #000000;
  	-moz-text-shadow: 0px 0px 30px #000000;
  	-webkit-text-shadow: 0px 0px 30px #000000;
  }
}


.entry-text-link-section {
 	position:absolute;
 	top:50%;
 	left:50%;
 	width: 700px;
 	margin-left:-350px;
 	margin-top:-121.5px;
 }
