.loadingSpinner {
  position: fixed;
  z-index: 9;
  background: white;
  padding: 10px;
  box-shadow: 0px 0px 40px 20px #fff;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  margin-top: -60px;
  margin-left: -60px;

  img {
    width:100px;
  }
}
