@import "../../variables";
@import "../../mixins";

.viewingRecipeContaner {
  display: flex;

  .recipeInfo {
    @include border-radius(5px);
    @include box-shadow(0px 2px 3px #bbb);
    width:75%;
    float:left;
    background:white;
    margin-right: 15px;
    position:relative;

    .edit {
      background: #653706;
      position: absolute;
      top: 10px;
      right: 70px;
      color: white;
      border-radius: 50%;
      padding: 10px 15px;
    }

    .remove {
      background: #c30000;
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      border-radius: 50%;
      padding: 10px 15px;
    }

    @media screen and (max-width: $mobileView) {
      width:100%;
      float:none;
    }

    h1 {
      padding: 15px 15px 0px 15px;
    }

    .section {
      padding: 15px;
      border-top: 1px solid #efeeee;
    }

    .images {
      height: 300px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #ecebeb;
    }

  }

  .addSpace {
    width:25%;
    @include border-radius(5px);
    @include box-shadow(0px 2px 3px #bbb);
    background:white;
    margin-left: 15px;

    @media screen and (max-width: $mobileView) {
      display:none
    }
  }

  h1 {
    padding: 15px 15px 0px 15px;
  }

}

.breadCrumb {
  margin: 0px auto 15px auto;
}

.mobileAddSpace {
  display:none;
  @media screen and (max-width: $mobileView) {
    display:block
  }
}
