@import "../../variables";
@import "../../mixins";

header {
  background:white;

  .content {
    padding: 20px 0px;
    display: flex;
  }

  .logoImage {
    img {
        height: 50px;
    }
  }

  .buttons {
    flex: auto;
    text-align:right;

    @media screen and (min-width: $mobileView) {
      margin-top:15px;
    }
  }

  .dropDownElement {
    margin-left: 10px;
    float: right;
    position:relative;

    .dropDown {
      position: absolute;
      background: white;
      right: 0px;
      @include box-shadow(0 2px 6px #a5a5a5);
      @include border-radius(5px);
      z-index: 1;
      overflow:hidden;
      top: 34px;
      min-width: 170px;
      display:none;

      .link {
        padding:15px 40px 15px 15px;
        border-bottom:1px solid #ececec;
        text-align:left;
        white-space:nowrap;
        font-family: $avenirBlack;
      }

    }
  }

  /* different type of headers */
  &.appHeader {
    position:fixed;
    z-index:1;
    width: 100%;
    @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
  }

  &.normal-header {
    .dropDownBtn {
      display:none;

      @media screen and (max-width: $mobileView) {
        display:block;
      }
    }
  }
}


.mobileDropDownLink {
  display:none;

  @media screen and (max-width: $mobileView) {
    display:block;
  }
}

.showDropDown {
  display:block !important
}

.mobileHide {
  @media screen and (max-width: $mobileView) {
    display:none;
  }
}
