@import "../../variables";
@import "../../mixins";

.categoryList, .addEditCategoryForm {
  display:flex;

  .btns {
    margin-top: 25px;
  }

  .categoryBtns, .btns {
    width:100px;
    text-align: center;

    button {
      border:none;
      background:none;
    }

    i {
      padding:0px 10px;
      color: #8c8c8c;
      cursor:pointer;

      &:hover {
        color:white;
        background: #8c8c8c;
        @include border-radius(3px);
        padding: 4px 10px;
      }
    }
  }

  select {
    width:100%;
    padding:0px;
    font-size:26px;
    //font-family:$avenirMedium;
    color:#cccccc;
    border-bottom: 1px solid #cccccc;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-bottom: 20px;
    padding-bottom: 7px;

    //hover
    &:hover {
      border-bottom: 1px solid $blue
    }

    //focus
    &:focus {
      border-bottom: 1px solid $orange;
      outline:none;
    }
  }
}

.saveCategory {
  border: none;
  background: white;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
  color: #8c8c8c;
}
