@import "../../variables";
@import "../../mixins";

.addCard {
  background:white;
  @include border-radius(5px);
  @include box-shadow(0 5px 4px rgba(0, 0, 0, 0.44));
  height: 200px;
  overflow:hidden;
  position: relative;
}
