@import "../../variables";
@import "../../mixins";

.inputLine {
  margin-bottom:20px;

  .errorText {
    color:#c30000;
  }

  .formLabel {
    margin-bottom:10px;
    font-family: $avenirBlack;
    color:black;
    font-size: 16px;
  }

  input, select {
    width:100%;
    padding:0px;
    font-size:26px;
    color:#cccccc;
    border-bottom: 1px solid #cccccc;
    border-top:none;
    border-left:none;
    border-right:none;

    //hover
    &:hover {
      border-bottom: 1px solid $blue
    }

    //focus
    &:focus {
      border-bottom: 1px solid $orange;
      outline:none;
    }

  }
}
