@import "variables";
@import "mixins";

* {
  margin: 0; padding:0;
}
html, body {
  height: 100%;
  font-family: $avenirMedium;
}

body.app-background {
  background: url('/images/background-pattern.png');

  @media screen and (max-width: $mobileView) {
    background:#f5d6d6;
  }
}

.headerPush {
  padding-top: 110px
}

.errorText {
  color:#c30000;
}

.contentWrapper {
  max-width: 1200px;
  max-width: 1200px;
  margin: 0px auto;
}

.GreenButton {
  @extend .CallToActionButton;
  background:$green;
  border:1px solid $green;
  margin-left:10px;

  &:hover {
    background:$darkGreen;
    border:1px solid $darkGreen;
    text-decoration:none;
    color:white;
  }

  &:visited, &:active, &:focus {
    text-decoration:none;
    color:white;
  }
}

.OrangeButton {
  margin-left:10px;
  font-family: $avenirBlack;
  cursor:pointer;
  @extend .CallToActionButton;
  background: $orange;

  &:hover {
    background: $darkOrange;
    text-decoration:none;
    color:white;
  }

  &:visited, &:active, &:focus {
    text-decoration:none;
    color:white;
  }
}

.CallToActionButton {
  @include border-radius($ImportantButtonRadius);
  padding: $buttonPadding;
  color:white;
  font-family: $avenirBlack;
  font-size: 12px;
}
