// colors

$blue: #298FD4;
$darkBlue: #1d699c;

$orange: #FF8B16;
$darkOrange: #bb6106;
$yellow: #ffdc2a;
$brown: #3f2804;
$lightGray: #EFEFEF;

$green: #30B90B;
$darkGreen: #279709;

// units

$buttonPadding: 15px;
$ImportantButtonRadius: 25px;
$submitButtons: 5px;

$headerTextDesktop: 40px;
$headerTextMobile: 30px;

//avenir font

$avenirBlack: 'AvenirBlack' !important;
$avenirMedium: 'AvenirMedium' !important;

$triplex: 'Triplex' !important;

//@media query breakpoints

$mobileView: 768px
