@import "../../variables";
@import "../../mixins";

.errorSubmissionForm {
  background: white;
  border: 1px solid #c7c7c7;
  box-shadow: 0px 2px 3px #bbb;
  border-radius: 5px;

  h1 {
    padding: 15px 15px 0px 15px;
  }

  .section {
    padding: 15px;
    border-top: 1px solid #efeeee;
    font-family: $avenirMedium;

    .label {
      margin-bottom:10px;
    }
  }

  select {
    width:100%;
    padding:0px;
    font-size:26px;
    font-family:$avenirMedium;
    color:#cccccc;
    border-bottom: 1px solid #cccccc;
    border-top:none;
    border-left:none;
    border-right:none;
    margin-bottom: 20px;
    padding-bottom: 7px;

    //hover
    &:hover {
      border-bottom: 1px solid $blue
    }

    //focus
    &:focus {
      border-bottom: 1px solid $orange;
      outline:none;
    }
  }
}
